body
{
    text-align: center;
}
img{
    max-width: 100%;
}
nav ul{
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
nav li{
    background-color: #FF6600;
    border-radius: 1em;
    list-style-type: none;
    margin: 0.3em;
    padding: 0.4em;
}
nav, li, a{
    color: #ffffff;
    text-decoration: none;
    
}
.info{
    display: inline;
   
}
hr{
    background-color: #ff6600;
    height: 2px;
    border-radius: 30px;
}
